openapi: 3.2.0
info:
  title: Height APP Activities API
  description: Unofficial Open API 3.1 specification for Height App API.
  contact:
    email: gil@beomjun.kr
  license:
    name: MIT
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
- url: https://api.height.app
security:
- apiKey: []
tags:
- name: Activities
  description: Activities can be messages, status updates of the task or integration updates (i.e. GitHub).
paths:
  /activities:
    post:
      tags:
      - Activities
      summary: Post a message
      operationId: postMessage
      x-codeSamples:
      - lang: JavaScript
        label: SDK
        source: 'const height = new Height({secretKey: ''secret_your-key''});


          height.activities.post({...});'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostMessageRequest'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityObject'
    get:
      tags:
      - Activities
      summary: List activities and messages
      operationId: listActivities
      x-codeSamples:
      - lang: JavaScript
        label: SDK
        source: 'const height = new Height({secretKey: ''secret_your-key''});


          height.activities.get({...});'
      parameters:
      - name: taskId
        in: query
        description: Either the task unique `id` (UUID), or the task unique `index` (the 123 of T-123).
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListActivitiesResponse'
components:
  schemas:
    PostMessageRequest:
      type: object
      required:
      - taskId
      - type
      - message
      properties:
        taskId:
          type: string
          format: uuid
        type:
          type: string
          enum:
          - comment
          - description
        message:
          type: string
          description: '## Mentions


            Height supports multiple types of mentions, with each their own format:


            User mention: `@user_<userId>`


            Group mention: `@group_<groupId>`


            Task mention: `T-<taskIndex>`


            List mention: `#<listKey>`'
    ActivityObject:
      type: object
      required:
      - id
      - model
      - createdAt
      - taskId
      - createdUserId
      - type
      - reactjis
      - readUserIds
      - url
      properties:
        id:
          type: string
          format: uuid
          description: The unique id of the activity.
        model:
          type: string
          description: The model is always `activity`.
        createdAt:
          type: string
          format: date-time
          description: The date when the activity was created. See [Date formats](https://www.notion.so/API-documentation-643aea5bf01742de9232e5971cb4afda).
        taskId:
          type: string
          format: uuid
          description: The task id of the task this activity is linked to.
        createdUserId:
          type: string
          format: uuid
          description: The user id that posted that activity.
        type:
          type: string
          enum:
          - comment
          - description
          - createdAt
          - statusChange
          - statusRemoved
          - assigneeChange
          - listsChange
          - nameChange
          - customFieldChange
          - fieldOptionRemoved
          description: The type of the activity.
        message:
          type: string
          description: The message/body of this comment/description.
        oldValue:
          type: string
          description: For updates, this is the value before the change.
        newValue:
          type: string
          description: For status, this is the value after the change.
        reactjis:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
                description: The id of the reactji.
              model:
                type: string
                description: Always set to `reactji`.
              emoji:
                type: string
                description: The emoji used for the reactji.
              userId:
                type: string
                format: uuid
                description: The user id that added the reactji.
              activityId:
                type: string
                format: uuid
                description: The id of the activity the reactji was added to.
          description: An array of reactjis.
        readUserIds:
          type: array
          items:
            type: string
            format: uuid
          description: The user ids that read this activity.
        url:
          type: string
          description: The url of the activity.
    ListActivitiesResponse:
      type: object
      required:
      - list
      properties:
        list:
          type: array
          items:
            $ref: '#/components/schemas/ActivityObject'
  securitySchemes:
    apiKey:
      type: apiKey
      name: Authorization
      description: "The Height API uses API keys to authenticate requests. **You can view your API key in the Height settings under API**.\n ex: `api-key secret_1234`"
      in: header
externalDocs:
  description: Height official API Docs
  url: https://www.notion.so/API-documentation-643aea5bf01742de9232e5971cb4afda
