openapi: 3.2.0
info:
  title: Height APP Workspace API
  description: Unofficial Open API 3.1 specification for Height App API.
  contact:
    email: gil@beomjun.kr
  license:
    name: MIT
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
- url: https://api.height.app
security:
- apiKey: []
tags:
- name: Workspace
paths:
  /workspace:
    get:
      tags:
      - Workspace
      summary: Retrieve the workspace
      operationId: retrieveWorkspace
      x-codeSamples:
      - lang: JavaScript
        label: SDK
        source: 'const height = new Height({secretKey: ''secret_your-key''});


          height.workspace.get();'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceObject'
components:
  schemas:
    WorkspaceObject:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: The unique ID of the workspace.
          example: 5a5e8d3f-c2ff-4a7a-aba4-4f22b19c5369
        model:
          type: string
          description: The model is always `workspace`.
          example: workspace
        name:
          type: string
          description: The name of the workspace.
          example: Acme
        url:
          type: string
          description: The full URL of the workspace.
          example: https://acme.height.app
      required:
      - id
      - model
      - name
      - url
  securitySchemes:
    apiKey:
      type: apiKey
      name: Authorization
      description: "The Height API uses API keys to authenticate requests. **You can view your API key in the Height settings under API**.\n ex: `api-key secret_1234`"
      in: header
externalDocs:
  description: Height official API Docs
  url: https://www.notion.so/API-documentation-643aea5bf01742de9232e5971cb4afda
