openapi: 3.2.0
info:
  title: Height APP Lists API
  description: Unofficial Open API 3.1 specification for Height App API.
  contact:
    email: gil@beomjun.kr
  license:
    name: MIT
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
- url: https://api.height.app
security:
- apiKey: []
tags:
- name: Lists
  description: Tasks belong to one list. To create tasks, it's necessary to know in which list you want to create them.
paths:
  /lists:
    post:
      tags:
      - Lists
      summary: Create a list
      operationId: createList
      x-codeSamples:
      - lang: JavaScript
        label: SDK
        source: "const height = new Height({secretKey: 'secret_your-key'});\n\nheight.lists.create({\n  name: 'My List',\n  type: 'list',\n  // ...\n});"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateListRequest'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListObject'
    get:
      tags:
      - Lists
      summary: List all lists
      operationId: listAllLists
      x-codeSamples:
      - lang: JavaScript
        label: SDK
        source: 'const height = new Height({secretKey: ''secret_your-key''});


          height.lists.all();'
      description: Use this endpoint to retrieve all the lists of the workspace. Only lists shared with the entire workspace will be returned.
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ListAllResponse'
  /lists/{id}:
    put:
      tags:
      - Lists
      summary: Update a list
      operationId: updateList
      x-codeSamples:
      - lang: JavaScript
        label: SDK
        source: 'const height = new Height({secretKey: ''secret_your-key''});


          height.lists.update({...});'
      parameters:
      - name: id
        in: path
        description: The unique id of the list (UUIDv4)
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateListRequest'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListObject'
components:
  schemas:
    ListObject:
      type: object
      description: Tasks belong to one list. To create tasks, it's necessary to know in which list you want to create them.
      required:
      - id
      - model
      - type
      - key
      - description
      - url
      - appearance
      properties:
        id:
          type: string
          format: uuid
          description: The unique id of the list (UUIDv4)
        model:
          type: string
          example: list
          enum:
          - list
          description: The model is always `list`
        type:
          type: string
          description: '- `list`: a list that contains tasks. You can only create tasks in this type of list directly.

            - `smartlist`: a smart list use filters to find tasks across different lists

            - `user`: a special smart list that displays tasks assigned to a user

            - `inbox`: a special smart list to display recent conversations

            - `search`: a special smart list to search tasks'
          enum:
          - list
          - smartlist
          - user
          - inbox
          - search
        key:
          type: string
          description: "The unique key of your list is used as their url.\n\nIf the key is `general`, the url will be: `https://your-workspace.height.app/general`\n\nKeys need to respect these rules: \n\n- valid characters are: lower-case letters, dashes and numbers\n- needs to start with a lower-case letter\n- key is unique across the workspace"
        description:
          type: string
          description: The description of the list. It can be an empty string.
        url:
          type: string
          description: The url of the list.
        appearance:
          type: object
          required:
          - iconUrl
          properties:
            iconUrl:
              type: string
              description: URL of the list icon
            hue:
              type:
              - 'null'
              - number
              description: 'hue of the list color '
    ListAllResponse:
      type: object
      required:
      - lists
      properties:
        list:
          type: array
          items:
            $ref: '#/components/schemas/ListObject'
    FiltersObject:
      type: object
      description: See FiltersObject.ts
    CreateListRequest:
      oneOf:
      - $ref: '#/components/schemas/CreateNormalListRequest'
      - $ref: '#/components/schemas/CreateSmartListRequest'
    CreateNormalListRequest:
      type: object
      description: Create a list
      required:
      - name
      - type
      properties:
        name:
          type: string
        type:
          type: string
          enum:
          - list
          - smartlist
        description:
          type: string
        appearance:
          type: object
          required:
          - icon
          properties:
            icon:
              type: string
              enum:
              - list
              - listCircles
              - listTriangle
              - listSquare
              - listLines
              - listRectangles
              - listCircle
              - listRocket
              - listMushroom
              - listBolt
              - listBug
              - listFlower
              - listThumbsUp
              - listTarget
              - listSparkle
              - listMedal
              - listFlag
            hue:
              description: 'Hue is between 0 and 360 and used to determine the color.


                If `null`, the list has no color.'
              type:
              - 'null'
              - number
              minimum: 0
              maximum: 360
        visualization:
          description: visualization string (optional, default = list) list or kanban
          default: list
          type: string
          enum:
          - list
          - kanban
    CreateSmartListRequest:
      type: object
      description: Create a smartlist
      required:
      - name
      - type
      - filters
      properties:
        name:
          type: string
        type:
          type: string
          enum:
          - list
          - smartlist
        description:
          type: string
        filters:
          $ref: '#/components/schemas/FiltersObject'
        appearance:
          type: object
          required:
          - icon
          properties:
            icon:
              type: string
              enum:
              - list
              - listCircles
              - listTriangle
              - listSquare
              - listLines
              - listRectangles
              - listCircle
              - listRocket
              - listMushroom
              - listBolt
              - listBug
              - listFlower
              - listThumbsUp
              - listTarget
              - listSparkle
              - listMedal
              - listFlag
            hue:
              description: 'Hue is between 0 and 360 and used to determine the color.


                If `null`, the list has no color.'
              type:
              - 'null'
              - number
              minimum: 0
              maximum: 360
        visualization:
          description: visualization string (optional, default = list) list or kanban
          default: list
          type: string
          enum:
          - list
          - kanban
    UpdateListRequest:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        appearance:
          type: object
          properties:
            icon:
              type: string
              description: the name of the icon e.g. listCircles, listBug.
            hue:
              type: number
          required:
          - icon
        visualization:
          type: string
          enum:
          - list
          - kanban
          - calendar
          - gantt
          - conversation
          - figma
        archivedAt:
          type: string
          description: string representing a date the list was archived at, in the form of an ISO 8601 date (e.g. 2011-04-11T10:20:30Z).
          format: date-time
  securitySchemes:
    apiKey:
      type: apiKey
      name: Authorization
      description: "The Height API uses API keys to authenticate requests. **You can view your API key in the Height settings under API**.\n ex: `api-key secret_1234`"
      in: header
externalDocs:
  description: Height official API Docs
  url: https://www.notion.so/API-documentation-643aea5bf01742de9232e5971cb4afda
