openapi: 3.2.0
info:
  title: Height APP Groups API
  description: Unofficial Open API 3.1 specification for Height App API.
  contact:
    email: gil@beomjun.kr
  license:
    name: MIT
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
- url: https://api.height.app
security:
- apiKey: []
tags:
- name: Groups
paths:
  /groups:
    get:
      tags:
      - Groups
      summary: Get all groups
      operationId: getAllGroups
      x-codeSamples:
      - lang: JavaScript
        label: SDK
        source: 'const height = new Height({secretKey: ''secret_your-key''});


          height.groups.all();'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAllGroupsResponse'
components:
  schemas:
    ListAllGroupsResponse:
      type: object
      properties:
        list:
          type: array
          items:
            $ref: '#/components/schemas/GroupObject'
    GroupObject:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: The unique ID of the group.
        model:
          type: string
          description: The model is always `group`.
          enum:
          - group
        name:
          type: string
          description: The name of the group.
        handle:
          type: string
          description: The handle of the group.
        hue:
          type: number
          description: The color/hue (0-360) of the group.
        userIds:
          type: array
          items:
            type: string
            format: uuid
          description: The list of user IDs that are in the group.
        archived:
          type: boolean
          description: Flag to indicate whether the group is archived.
      required:
      - id
      - model
      - name
      - handle
      - hue
      - userIds
      - archived
  securitySchemes:
    apiKey:
      type: apiKey
      name: Authorization
      description: "The Height API uses API keys to authenticate requests. **You can view your API key in the Height settings under API**.\n ex: `api-key secret_1234`"
      in: header
externalDocs:
  description: Height official API Docs
  url: https://www.notion.so/API-documentation-643aea5bf01742de9232e5971cb4afda
