openapi: 3.0.3
info:
  title: Height APP Activities Users API
  description: "Unofficial Open API 3.1 specification for [Height App API](https://www.notion.so/API-documentation-643aea5bf01742de9232e5971cb4afda). This is not affiliated with Height team.\n\n---\n# Authentication\n\nThe Height API uses API keys to authenticate requests. **You can view your API key in the Height settings under API**.\n\nAuthentication to the API is performed via the `Authorization` header. All API requests should be made over HTTPs.\n\ni.e. Get your workspace.\n\n```bash\ncurl https://api.height.app/workspace \\\n  -H \"Authorization: api-key secret_1234\"\n```\n\nThird-party applications must connect to the Height API using [OAuth2](https://www.notion.so/API-documentation-643aea5bf01742de9232e5971cb4afda). \n\nSee [OAuth Apps on Height](https://www.notion.so/OAuth-Apps-on-Height-a8ebeab3f3f047e3857bd8ce60c2f640) for more information.\n\n# Object formats\n\nAll objects have a unique `id` ([UUID v4](https://en.m.wikipedia.org/wiki/Universally_unique_identifier#Version_4_(random))) and a `model` attribute to distinguish the model type.\n\ne.g. a task object.\n\n```json\n{\n  \"id\": \"123e4567-e89b-12d3-a456-426655440000\",\n  \"model\": \"task\",\n  \"name\": \"Fix bug\",\n  \"index\": 1,\n  \"status\": \"backLog\",\n  [...]\n}\n```\n\n# Date formats\n\nEvery date uses the ISO format e.g.\n\n```js\n\"2019-11-07T17:00:00.000Z\"\n```\n\n# Real-time\n\nAny change that you make to the API will be pushed to every user in real-time: i.e. creating tasks or messages.\n\n# Rate limits\n\nTo keep incoming traffic under control and maintain a great experience for all our users, our API is behind a rate limiter. Users who send many requests in quick succession may see error responses that show up as status code 429.\n\nHeight allows up to 120 requests/min, but we have stricter limits on these endpoints:\n\n- `POST /activities`: 60 requests/min\n- `POST /tasks`: 60 requests/min"
  contact:
    email: gil@beomjun.kr
  license:
    name: MIT
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
- url: https://api.height.app
security:
- apiKey: []
tags:
- name: Users
paths:
  /users:
    get:
      tags:
      - Users
      summary: Get all users
      operationId: getUsers
      x-codeSamples:
      - lang: JavaScript
        label: SDK
        source: 'const height = new Height({secretKey: ''secret_your-key''});


          height.users.all();'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAllUsersResponse'
  /users/:id:
    get:
      tags:
      - Users
      summary: Get a user
      operationId: getUser
      x-codeSamples:
      - lang: JavaScript
        label: SDK
        source: 'const height = new Height({secretKey: ''secret_your-key''});


          height.users.get({...});'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserObject'
  /users/me:
    get:
      tags:
      - Users
      summary: Get the current user
      operationId: getCurrentUser
      x-codeSamples:
      - lang: JavaScript
        label: SDK
        source: 'const height = new Height({secretKey: ''secret_your-key''});


          height.users.me();'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserObject'
components:
  schemas:
    ListAllUsersResponse:
      type: object
      properties:
        list:
          type: array
          items:
            $ref: '#/components/schemas/UserObject'
          description: The list of users.
    UserObject:
      allOf:
      - $ref: '#/components/schemas/EnabledUserObject'
      - $ref: '#/components/schemas/InvitedUserObject'
    InvitedUserObject:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: The unique ID of the user.
        model:
          type: string
          description: The model is always `user`.
          enum:
          - user
        state:
          type: string
          description: The state of the user.
          enum:
          - enabled
          - invited
          example: enabled
        email:
          type: string
          description: The email of the user.
        access:
          type: string
          enum:
          - member
          - guest
          - anonymous
          example: member
        createdAt:
          type: string
          format: date-time
          description: The date and time the user was created, see [Date formats](https://www.notion.so/API-documentation-643aea5bf01742de9232e5971cb4afda).
          example: '2023-02-18T10:15:00Z'
        pictureUrl:
          type: string
          description: The URL of the user's picture, if available.
          example: https://example.com/user.jpg
      required:
      - id
      - model
      - state
      - email
      - access
      - createdAt
    EnabledUserObject:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: The unique ID of the user.
        model:
          type: string
          description: The model is always `user`.
          enum:
          - user
        state:
          type: string
          description: The state of the user.
          enum:
          - enabled
          - invited
          example: enabled
        email:
          type: string
          description: The email of the user.
        username:
          type: string
          description: The username of the user, only available for `enabled` users.
        firstname:
          type: string
          description: The first name of the user, only available for `enabled` users.
        lastname:
          type: string
          description: The last name of the user, only available for `enabled` users.
        access:
          type: string
          description: The access level of the user.
          enum:
          - member
          - guest
          - anonymous
          example: member
        createdAt:
          type: string
          format: date-time
          description: The date and time the user was created, see [Date formats](https://www.notion.so/API-documentation-643aea5bf01742de9232e5971cb4afda).
          example: '2023-02-18T10:15:00Z'
        pictureUrl:
          type: string
          nullable: true
          description: The URL of the user's picture, if available.
          example: https://example.com/user.jpg
      required:
      - id
      - model
      - state
      - email
      - access
      - createdAt
      - username
      - firstname
      - lastname
  securitySchemes:
    apiKey:
      type: apiKey
      name: Authorization
      description: "The Height API uses API keys to authenticate requests. **You can view your API key in the Height settings under API**.\n ex: `api-key secret_1234`"
      in: header
externalDocs:
  description: Height official API Docs
  url: https://www.notion.so/API-documentation-643aea5bf01742de9232e5971cb4afda
